body, input, button {
  font: 1.5rem Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  padding: 3rem;
}

ul {
  list-style: none;
  padding: 0;
}

#templates {
  display: none;
}

#input {
  margin-left: 2rem;
  border: .1rem solid;
  border-radius: .4rem;
}

#view>button, #tasks>li>button {
  background: white;
  border: none;
  cursor: pointer;
}

#tasks>li>button {
  font-size: .8rem;
  transform: translateY(-.2rem);
  padding-bottom: .2rem;
}

#tasks>li>button:first-child {
  visibility: hidden;
}
#tasks>li.done>button:first-child:hover {
  opacity: .4;
}
#tasks>li.done>button, #tasks>li:hover>button {
  visibility: unset;
}
#tasks>li.done>span {
  text-decoration: line-through;
  text-decoration-color: #0909;
}
