@media (orientation: portrait) { html { font-size: 2vw } }

body, input, button {
  font: 1.5rem Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 3rem;
  height: 100vh;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: .8rem 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  display: inline-flex;
}
button>img {
  width: 1.9rem;
  height: 1.9rem;
  transition: all .3s
}
button>img:hover { animation: enlarge .15s ease-out 2 alternate }
@keyframes enlarge { to { transform: scale(1.2) } }

input {
  width: 23rem;
  border: .1rem solid;
  padding: .3rem .5rem;
  border-radius: .4rem;
}

#inputBar>* { margin: .4rem }
#inputBar>button {
  width: 2.1rem;
  height: 2.1rem;
  padding: 0;
}
#inputBar, #view>div {
  display: flex;
  align-items: center;
}
#view, #view button, #view input, #statusBar {
  font-size: 1.3rem;
}
#view img, #taskList img {
  width: 1.4rem;
  height: 1.4rem;
}
#view button { margin: 0 .7rem }

#eye.striked>img:last-child { display: none }
#eye:not(.striked)>img:first-child { display: none }

#view #tiger { margin-left: 2rem }
#tiger img {
  width: 2rem;
  height: 2rem;
}
#tiger.desc:hover>img { animation-duration: .3s }
.desc>img { transform: rotate(180deg) }

#sorts>span { position: relative }
#sortSel {
  top: -1rem;
  display: flex;
  padding: .3rem 0;
  position: absolute;
  background: white;
  border-radius: .3rem;
  border: 0.1rem solid;
  flex-direction: column;
}

#ifDone { min-width: 2.8rem }
#ifDone>img { animation: none }
#ifDone:not(.all) { justify-content: center }
#ifDone>img:last-child { position: absolute }
#ifDone.yes>img:nth-child(2) { display: none }
#ifDone.not>img:not(:first-child) { display: none }
#ifDone:hover { animation: enlarge .15s ease-out 2 alternate }

#filterInp {
  width: 10rem;
  padding: .1rem .5rem;
  margin-left: 1.4rem;
}
#filters>button:last-child>img {
  width: 1rem;
  height: 1rem;
}

#taskList {
  overflow: auto;
  margin: .5rem 0;
  max-height: 60%;
  padding: 0 .7rem;
  min-height: 4rem;
  width: fit-content;
  min-width: 30.6rem;
  border: .1rem solid;
  border-radius: 2rem;
}
#taskList::-webkit-scrollbar-corner,
#taskList::-webkit-scrollbar-track { background: #0000 }
#taskList::-webkit-scrollbar { width: .7rem }
#taskList::-webkit-scrollbar-thumb {
  box-shadow: 0 0 .3rem .1rem black inset;
  border: 1.3rem solid #0000;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 50%;
  background: none;
}

#tasks>li>button {
  position: relative;
  animation: none;
  margin: 0 .8rem;
}
#tasks>li>button>img:nth-child(2) { position: absolute }
#tasks>li:not(.done)>button>img:nth-child(2) { display: none }
#tasks>li.done>span { text-decoration: line-through #4b0a }
#tasks>li { display: flex;  align-items: center }
#tasks>li>button:last-child>img {
  width: 1rem;
  height: 1rem;
  margin-top: .2rem;
}

#statusBar { padding-left: 2rem }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .9rem;
  width: 100vw;
  text-align: center;
  color: #666;
}
footer>span>a { font-size: 1.2rem }
footer a { color: inherit }

.glass {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.hidden, #underhood { display: none !important }
